.syntaxhighlighter {
 background-color: black !important;
 font-size: 12px !important;
 font-family: Monospace !important;
 margin: 0.1cm 0.1cm 0.1cm 0.1cm !important;
 padding: 5px !important;
}

.syntaxhighlighter .line.alt1 {
 background-color: black !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .line.alt2 {
 background-color: black !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
 background-color: #2a3133 !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .line.highlighted.number {
 color: white !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter table caption {
 color: #d3d3d3 !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}
.syntaxhighlighter .gutter {
 color: #d3d3d3 !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .gutter .line {
 border-right: 3px solid #990000 !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .gutter .line.highlighted {
 background-color: #990000 !important;
 color: black !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter.printing .line .content {
 border: none !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter.collapsed {
 overflow: visible !important;
 font-size: 40px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter.collapsed .toolbar {
 color: #ebdb8d !important;
 background: black !important;
 border: 1px solid #990000 !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter.collapsed .toolbar a {
 color: #ebdb8d !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter.collapsed .toolbar a:hover {
 color: #ff7d27 !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .toolbar {
 color: white !important;
 background: #990000 !important;
 border: none !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .toolbar a {
 color: white !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .toolbar a:hover {
 color: #9ccff4 !important;
 font-family: Monospace !important;
 font-size: 12px !important;
}

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
 color: #d3d3d3 !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
 color: #80ff00 !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .string, .syntaxhighlighter .string a {
 color: #ff9e7b !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .preprocessor {
 color: #aec4de !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .variable {
 color: #ffaa3e !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .value {
 color: #009900 !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .my_keyword {
 color: #00d0d0 !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .my_type {
 color: #d0d000 !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .my_function {
 color: #0080ff !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .my_constant {
 color: #ff0080 !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .script {
 font-weight: bold !important;
 color: aqua !important;
 font-family: Monospace !important;
 background-color: none !important;
 font-size: 12px !important;
}

.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
 color: #ebdb8d !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
 color: #ff7d27 !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}

.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
 color: #aec4de !important;
 font-size: 12px !important;
 font-family: Monospace !important;
}
